.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(153, 79, 79);
  overflow-x: hidden;
  transition: 0.5s; 
}

body {
    margin: 0px;
}

#main {
  padding: 0px;
  margin: 0px;
  border: 0px;
  left: 70px;
  position: absolute;
}