.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s; 
}

body {
    margin: 0px;
}

#main {
  /* transition: margin-left .5s; */
  padding: 0px;
  margin: 0px;
  border: 0px;
  left: 100px;
  position: absolute;
}