name: GithubCd
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  EMSDK_VER: 2.0.9

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest  
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Emscripten SDK
      shell: bash
      run: |
         git clone https://github.com/emscripten-core/emsdk.git
         cd emsdk
         ./emsdk install  $EMSDK_VER
         ./emsdk activate $EMSDK_VER

    - name: Build Emscripten target
      shell: bash 
      run: |
        rustup target add wasm32-unknown-emscripten
        source "emsdk/emsdk_env.sh"
        cargo build --release --target=wasm32-unknown-emscripten

    - name: Copy Artefacts
      shell: bash
      run: |
        cp target/wasm32-unknown-emscripten/release/nes-rs.js static
        cp target/wasm32-unknown-emscripten/release/nes_rs.wasm static

    - name: Deploy to GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: deploy_on_github
        build_dir: static
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


