name: GithubCi
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  EMSDK_VER: 4.0.22
  RUST_VER: 1.92.0

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
            os: [ubuntu-latest, windows-latest]
    steps:
    
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Install Deps
      shell: bash
      run: |
          sudo apt install autoconf autoconf-archive automake libtool
      if: ${{ matrix.os == 'ubuntu-latest' }}    
    
    - name: Install Rust
      shell: bash
      run: |
          rustup install $RUST_VER
          rustup default $RUST_VER

    - name: Install Emscripten SDK
      shell: bash
      run: |
         git clone https://github.com/emscripten-core/emsdk.git
         cd emsdk
         ./emsdk install  $EMSDK_VER
         ./emsdk activate $EMSDK_VER

    - name: Build Emscripten targets
      shell: bash 
      run: |
        rustup target add wasm32-unknown-emscripten
        source "emsdk/emsdk_env.sh"
        cargo build --release --target=wasm32-unknown-emscripten
  
    - name: Build native target
      run: | 
          cargo install cargo-vcpkg
          cargo vcpkg -v build
          cargo build --release

    - name: Run native tests
      run: cargo test --release

    - name: Check for clippy warnings
      run: |
        rustup component add clippy
        cargo clippy --version
        cargo clippy --all-targets --all-features -- -D warnings
    
    - name: Check formatting
      run: |
        rustup component add rustfmt
        cargo fmt -- --check
